/*
---------------
General Classes
---------------
 */

.App {
  text-align: center;
}

.Header {
    background-image: url("./resources/pattern.png");
    background-repeat: repeat;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.Footer {
    background-color: lightslategrey; /* Footer Background Color*/
    color: darkred; /* Footer Text Background Color*/
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0; /* Fixed footer @ bottom */
    padding-top: 3px;
}

/*
Text Classes
 */
.Header-title {
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(#fceabb 0%, #fccd4d 50%, #fab500 51%, #fbdf93 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Quicksand', sans-serif;
}

.App-intro {
    font-size: large;
}

/*
-------------------------------
MEDIA QUERIES for Mobile Devices
-------------------------------
 */
@media only screen and (max-width: 500px) {
    .Header-title {
        font-size: 9vw;
    }
}


@media only screen and (max-width: 407px) {
    .App-intro {
        font-size: 4.6vw;
        scroll-padding-inline-start: 3px;
        scroll-padding-inline-end: 3px;
    }
}

@media only screen and (max-width: 330px) {
    .Footer {
        font-size: 4.7vw;
        color: aqua;
    }
}