/*
---------------
General Classes
---------------
 */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
    background-color: slategray;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.Footer {
    background-color: lightslategrey; /* Footer Background Color*/
    color: darkred; /* Footer Text Background Color*/
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0; /* Fixed footer @ bottom */
    padding-top: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
Text Classes
 */
.Header-title {
    font-size: 1.5em;
    font-weight: 500;
    color: cyan;
    font-family: 'Quicksand', sans-serif;
}

.App-intro {
    font-size: large;
}

/*
-------------------------------
MEDIA QUERIES for Mobile Phones
-------------------------------
 */

/* Title Text */
@media only screen and (max-width: 250px) {
    .App-title {
        font-size: 9vw;
    }
    .Header-title {
        font-size: 5vw;
    }
}

/* Intro Text */
@media only screen and (max-width: 407px) {
    .App-intro {
        font-size: 4.6vw;
        scroll-padding-inline-start: 3px;
        scroll-padding-inline-end: 3px;
    }
}

/* Footer */
@media only screen and (max-width: 330px) {
    .Footer {
        font-size: 4.7vw;
        color: aqua;
    }
}