.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.Footer {
    background-color: lightslategrey; /* Footer Background Color*/
    color: darkred; /* Footer Text Background Color*/
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 3px;
}

@media only screen and (max-width: 330px) {
    /* For mobile phones: */
    .Footer {
        font-size: 4.7vw;
        color: aqua;
    }
    .App-intro {
        font-size: 5vw;
        scroll-padding-inline-start: 3px;
        scroll-padding-inline-end: 3px;
    }
}

@media only screen and (max-width: 250px) {
    .App-title {
        font-size: 9vw;
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
