/*
---------------
General Classes
---------------
 */

 .App {
    text-align: center;
  }
  
  .Header {
      background-image: url("./resources/pattern.png");
      background-repeat: repeat;
      height: 150px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
  
  }
  
  .Footer {
      background-color: lightslategrey; /* Footer Background Color*/
      color: darkred; /* Footer Text Background Color*/
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0; /* Fixed footer @ bottom */
      padding-top: 3px;
  }

  .CustomPurpleButton {
    box-shadow: 0 0 0 2px #7d8cbb inset!important;;
    /*background: transparent none;*/
    /*text-shadow: none !important;*/
    /*margin: 0px 8px !important;*/
    color: #7d8cbb !important;
    border-color: #7d8cbb !important;
}

.CustomPurpleButton:hover {
    background: #7d8cbb !important;
    box-shadow: 0 0 0 2px #7d8cbb inset!important;
    color: white !important;
}

.CustomRedButton {
    box-shadow: 0 0 0 2px red inset!important;;
    /*background: transparent none;*/
    /*text-shadow: none !important;*/
    /*margin: 0px 8px !important;*/
    color: red !important;
    border-color: red !important;
}

.CustomRedButton:hover {
    background: red !important;
    box-shadow: 0 0 0 2px red inset!important;
    color: white !important;
}
  
  /*
  Text Classes
   */
  .HeaderTitleText {
      font-size: 3em;
      font-weight: 500;
      background: linear-gradient(#fceabb 0%, #fccd4d 50%, #fab500 51%, #fbdf93 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Quicksand', sans-serif;
  }
  
  .App-intro {
      font-size: large;
  }
  
  /*
  -------------------------------
  MEDIA QUERIES for Mobile Devices
  -------------------------------
   */
  @media only screen and (max-width: 500px) {
    .HeaderTitleText {
        font-size: 10vw;
    }    
  }
  
  
  @media only screen and (max-width: 407px) {
      .App-intro {
          font-size: 4.6vw;
          scroll-padding-inline-start: 3px;
          scroll-padding-inline-end: 3px;
      }
  }
  
  @media only screen and (max-width: 330px) {
      .Footer {
          font-size: 4.7vw;
          color: aqua;
      }
  }